# .ice-rest-catalog.yaml.template
uri: https://s3tables.us-east-1.amazonaws.com/iceberg

warehouse: ${S3_TABLE_ARN}

s3:
  region: ${AWS_REGION}

bearerTokens:
  - value: ${ICE_BEARER_TOKEN}

anonymousAccess:
  enabled: true
  accessConfig: {}
