server:
  host: 0.0.0.0
  port: 8182

database:
  url: jdbc:postgresql://nimtable-db:5432/nimtable_db
  username: nimtable_user
  password: nimtable_password

catalogs:
  - name: s3tables-demo
    type: rest
    uri: http://ice-rest-catalog:5000
    authHeader: "Authorization: Bearer ${ICE_BEARER_TOKEN}"
    warehouse: ${S3_TABLE_ARN}
    # You can also add extra properties here depending on catalog type,
    # but they must match what Nimtable expects for 'rest' / S3Tables
